# CPL 5559 -B220 - CPL -Applied Project

## Import libraries

In [1]:
#!pip install yfinance
import yfinance as yf
import pandas as pd

## Define class for yahoo finance

In [125]:
class yfinance:
    #constructor to initialize instance variables
    def __init__(self,ticker, start_date,end_date):
        #ticker: stock ticker symbol
        #star_date : start date from when the stock prices is to be extracted
        #end_date : final date upto which the stock prices is to be extracted
        self.ticker=ticker
        self.start=start_date
        self.end=end_date
        
    #instance method to extract stock prices of a any ticker
    def get_stockmarketdata(self):
        #yf.Ticker to access ticker data( report of stock prices)
        stock = yf.Ticker(self.ticker)
        #print(stock.info)
        #.history to get historical market data
        self.stock_df = stock.history(period='1d',start=self.start, end=self.end)
        #period ='1d' means we want to extract stock market data once every day between the specified dates
    
    #instance method to display stock data in a tabular format
    def show_stockmarketdata(self):
        #dispaly() method to showcase pandas table in tabular format
        display(self.stock_df)

## Extract stock data for Tesla, display them and save them to local drive

### Extract

In [126]:
#initialize start and end date
start_date = "2021-01-01"
end_date = "2022-12-31"

In [127]:
#define a class object
tesla_Data = yfinance("TSLA", start_date, end_date)

In [128]:
#extract stock data by calling the class's instance method
tesla_Data.get_stockmarketdata()

### Display

In [129]:
#show stock data in tabular form by calling class's instance method
tesla_Data.show_stockmarketdata()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04,239.820007,248.163330,239.063339,243.256668,145914600,0,0.0
2021-01-05,241.220001,246.946671,239.733337,245.036667,96735600,0,0.0
2021-01-06,252.830002,258.000000,249.699997,251.993332,134100000,0,0.0
2021-01-07,259.209991,272.329987,258.399994,272.013336,154496700,0,0.0
2021-01-08,285.333344,294.829987,279.463318,293.339996,225166500,0,0.0
...,...,...,...,...,...,...,...
2022-12-23,126.370003,128.619995,121.019997,123.150002,166989700,0,0.0
2022-12-27,117.500000,119.669998,108.760002,109.099998,208643400,0,0.0
2022-12-28,110.349998,116.269997,108.239998,112.709999,221070500,0,0.0
2022-12-29,120.389999,123.570000,117.500000,121.820000,221923300,0,0.0
2022-12-30,119.949997,124.480003,119.750000,123.180000,157304500,0,0.0

In [145]:
#extracting classes instance variable
Tesla=tesla_Data.stock_df

In [146]:
type(tesla_Data.stock_df)

pandas.core.frame.DataFrame

### Save

In [156]:
Tesla.to_csv("Tesla.csv")

## Extract stock data for Ford, Display them and Save them in the local drive

### Extract

In [130]:
ford_Data = yfinance("F", start_date, end_date)

In [131]:
#extract stock data
ford_Data.get_stockmarketdata()

### Display

In [132]:
#to show stock data in tabular form
ford_Data.show_stockmarketdata()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04,8.489096,8.518003,8.122938,8.209660,85043100,0.0,0
2021-01-05,8.161481,8.402375,8.151845,8.334924,70127800,0.0,0
2021-01-06,8.469825,8.614361,8.363833,8.518004,72590200,0.0,0
2021-01-07,8.614361,8.749262,8.556547,8.729991,77117100,0.0,0
2021-01-08,8.768534,8.807077,8.566183,8.672176,59162200,0.0,0
...,...,...,...,...,...,...,...
2022-12-23,11.270000,11.400000,11.220000,11.360000,38200700,0.0,0
2022-12-27,11.280000,11.390000,11.130000,11.200000,44837400,0.0,0
2022-12-28,11.180000,11.250000,10.900000,10.950000,49375400,0.0,0
2022-12-29,11.080000,11.550000,11.050000,11.540000,53550300,0.0,0
2022-12-30,11.400000,11.640000,11.390000,11.630000,39149700,0.0,0

In [143]:
Ford=ford_Data.stock_df

In [144]:
type(ford_Data.stock_df)

pandas.core.frame.DataFrame

### Save

In [157]:
Ford.to_csv("Ford.csv")

## Merge two stock data into one table

In [147]:
#initialize the market stock data to each company
Tesla["Company"]="Tesla"
Ford["Company"]="Ford"

In [151]:
#use concat to merge the two dataframe
merged_Stock_Data= pd.concat ([Tesla, Ford], axis=0)

In [155]:
merged_Stock_Data.sort_values(by="Date")

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
Date,,,,,,,,
2021-01-04,239.820007,248.163330,239.063339,243.256668,145914600,0.0,0.0,Tesla
2021-01-04,8.489096,8.518003,8.122938,8.209660,85043100,0.0,0.0,Ford
2021-01-05,241.220001,246.946671,239.733337,245.036667,96735600,0.0,0.0,Tesla
2021-01-05,8.161481,8.402375,8.151845,8.334924,70127800,0.0,0.0,Ford
2021-01-06,252.830002,258.000000,249.699997,251.993332,134100000,0.0,0.0,Tesla
...,...,...,...,...,...,...,...,...
2022-12-28,110.349998,116.269997,108.239998,112.709999,221070500,0.0,0.0,Tesla
2022-12-29,11.080000,11.550000,11.050000,11.540000,53550300,0.0,0.0,Ford
2022-12-29,120.389999,123.570000,117.500000,121.820000,221923300,0.0,0.0,Tesla
2022-12-30,119.949997,124.480003,119.750000,123.180000,157304500,0.0,0.0,Tesla
2022-12-30,11.400000,11.640000,11.390000,11.630000,39149700,0.0,0.0,Ford

In [158]:
merged_Stock_Data.to_csv("merged_data.csv")