# CPL 5559 -B220 - CPL -Applied Project

## Libraries

In [1]:
#!pip install yfinance
import yfinance as yf
import pandas as pd

## Python Classes

### Define Class to input tickers

In [2]:
class Ticker:
    
    def get_tickername(self):
        ticker_number=int(input("Enter number of tickers you want"))
        tickers=[]
        for i in range(ticker_number):
            ticker=input("Enter ticker symbol:")
            tickers.append(ticker)
        tickers=" ".join(tickers)
        return tickers

### Define class for yahoo finance

In [19]:
class yfinance:
    
    #constructor to initialize instance variables
    def __init__(self,ticker, start_date,end_date):
        #ticker: stock ticker symbol
        #star_date : start date from when the stock prices is to be extracted
        #end_date : final date upto which the stock prices is to be extracted
        self.ticker=ticker
        self.start=start_date
        self.end=end_date
        
    #instance method to extract stock prices of a any one ticker
    def get_stockmarketdata_indv(self):
        # for individual ticker we use the yf.ticker module
        #yf.Ticker to create a ticker object for a particular ticker
        stock = yf.Ticker(self.ticker)
        #print(stock.info)
        #.history to get historical market data
        stock_df = stock.history(period='1d',start=self.start, end=self.end,actions=False)
        #period ='1d' means we want to extract stock market data once every day between the specified dates
        return stock_df
    
    #instance method to extract stock prices for all specified tickers
    def get_stockmarketdata_all(self):
        #To download the historical data for multiple tickers at once you can use the download module.
        #converting to string
        merged_stock_df = yf.download(self.ticker,period='1d', start=self.start, end=self.end,group_by='tickers')
        return merged_stock_df

### Define Class for Displaying and Saving Outputs

In [20]:
class output:
    #class for displaying output and saving files
    def __init__(self,value,output_name):
        self.value=value
        self.name=output_name
    def output_print(self):
        #this function will print values, list, arrays and others
        print(self.value)
    def output_display(self):
        #this function will display pandas dataframe as a table
        display(self.value)
    def output_savecsv(self):
        #this functuion will save output as csv
        self.value.to_csv(self.name+".csv")

## Main

In [21]:
#initialize start and end date
start_date = "2021-01-01"
end_date = "2022-12-31"

### Tesla stock prices

In [22]:
#define a class object
tesla_Data = yfinance("TSLA", start_date, end_date)

In [23]:
#extract stock data by calling the class's instance method
Tesla=tesla_Data.get_stockmarketdata_indv()

In [24]:
type(Tesla)

pandas.core.frame.DataFrame

In [25]:
#show stock data in tabular form by calling class's instance method
Tesla_output=output(Tesla,"Tesla1")
Tesla_output.output_display()

                  Open        High         Low       Close     Volume
Date
2021-01-04  239.820007  248.163330  239.063339  243.256668  145914600
2021-01-05  241.220001  246.946671  239.733337  245.036667   96735600
2021-01-06  252.830002  258.000000  249.699997  251.993332  134100000
2021-01-07  259.209991  272.329987  258.399994  272.013336  154496700
2021-01-08  285.333344  294.829987  279.463318  293.339996  225166500
...                ...         ...         ...         ...        ...
2022-12-23  126.370003  128.619995  121.019997  123.150002  166989700
2022-12-27  117.500000  119.669998  108.760002  109.099998  208643400
2022-12-28  110.349998  116.269997  108.239998  112.709999  221070500
2022-12-29  120.389999  123.570000  117.500000  121.820000  221923300
2022-12-30  119.949997  124.480003  119.750000  123.180000  157304500

[503 rows x 5 columns]

In [26]:
#save to csv
Tesla_output.output_savecsv()

### Ford Stock Prices

In [27]:
#define class object for Ford
ford_Data = yfinance("F", start_date, end_date)

In [28]:
#extract stock data
Ford=ford_Data.get_stockmarketdata_indv()

In [29]:
#show stock data in tabular form by calling class's instance method
Ford_output=output(Ford,"Ford")
Ford_output.output_display()

                 Open       High        Low      Close    Volume
Date
2021-01-04   8.489097   8.518004   8.122939   8.209661  85043100
2021-01-05   8.161481   8.402375   8.151845   8.334924  70127800
2021-01-06   8.469826   8.614362   8.363833   8.518005  72590200
2021-01-07   8.614361   8.749262   8.556547   8.729991  77117100
2021-01-08   8.768534   8.807077   8.566183   8.672176  59162200
...               ...        ...        ...        ...       ...
2022-12-23  11.270000  11.400000  11.220000  11.360000  38200700
2022-12-27  11.280000  11.390000  11.130000  11.200000  44837400
2022-12-28  11.180000  11.250000  10.900000  10.950000  49375400
2022-12-29  11.080000  11.550000  11.050000  11.540000  53550300
2022-12-30  11.400000  11.640000  11.390000  11.630000  39149700

[503 rows x 5 columns]

In [30]:
#save stock prices to csv
Ford_output.output_savecsv()

### Stock Prices for both Tesla and Ford

In [32]:
#input tickers using the Ticker class
Tick=Ticker()
tickers=Tick.get_tickername()
print(tickers)

Enter number of tickers you want2
Enter ticker symbol:TSLA
Enter ticker symbol:F
TSLA F

In [33]:
#define a class object
tesla_ford_Data = yfinance(tickers, start_date, end_date)

In [34]:
#extract stock data
Tesla_Ford=tesla_ford_Data.get_stockmarketdata_all()

[*********************100%***********************]  2 of 2 completed

In [37]:
#show stock data in tabularTesla_Ford form by calling class's instance method
Tsla_ford_output=output(Tesla_Ford,"Tesla_Ford")
Tsla_ford_output.output_display()

                  TSLA                                                  \
                  Open        High         Low       Close   Adj Close
Date
2021-01-04  239.820007  248.163330  239.063339  243.256668  243.256668
2021-01-05  241.220001  246.946671  239.733337  245.036667  245.036667
2021-01-06  252.830002  258.000000  249.699997  251.993332  251.993332
2021-01-07  259.209991  272.329987  258.399994  272.013336  272.013336
2021-01-08  285.333344  294.829987  279.463318  293.339996  293.339996
...                ...         ...         ...         ...         ...
2022-12-23  126.370003  128.619995  121.019997  123.150002  123.150002
2022-12-27  117.500000  119.669998  108.760002  109.099998  109.099998
2022-12-28  110.349998  116.269997  108.239998  112.709999  112.709999
2022-12-29  120.389999  123.570000  117.500000  121.820000  121.820000
2022-12-30  119.949997  124.480003  119.750000  123.180000  123.180000

                           F
               Volume   Open   High    Low  Close  Adj Close    Volume
Date
2021-01-04  145914600   8.81   8.84   8.43   8.52   8.209661  85043100
2021-01-05   96735600   8.47   8.72   8.46   8.65   8.334924  70127800
2021-01-06  134100000   8.79   8.94   8.68   8.84   8.518003  72590200
2021-01-07  154496700   8.94   9.08   8.88   9.06   8.729991  77117100
2021-01-08  225166500   9.10   9.14   8.89   9.00   8.672175  59162200
...               ...    ...    ...    ...    ...        ...       ...
2022-12-23  166989700  11.27  11.40  11.22  11.36  11.360000  38200700
2022-12-27  208643400  11.28  11.39  11.13  11.20  11.200000  44837400
2022-12-28  221070500  11.18  11.25  10.90  10.95  10.950000  49375400
2022-12-29  221923300  11.08  11.55  11.05  11.54  11.540000  53550300
2022-12-30  157304500  11.40  11.64  11.39  11.63  11.630000  39149700

[503 rows x 12 columns]

In [38]:
#save stock prices to csv
Tsla_ford_output.output_savecsv()